<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Пользователи</title>
</head>
<body>
<header class="header">
    <div class="container d-flex align-items-center h-100">
        <a href="/" class="me-5">
            <img th:src="@{/images/logo.svg}" alt="logo">
        </a>
    </div>
</header>

<h1>Список постов</h1>

<table>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Адресс</th>
        <th>Категория</th>
        <th>Город</th>
        <th>Дата создания</th>
        <th>Дата начала</th>
        <th>Дата конца</th>
        <th>Статус</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td>
            <a th:text="${post.header}"></a>
        </td>

        <td>
            <a th:text="${post.description}"></a>
        </td>

        <td>
            <a th:text="${post.address}"></a>
        </td>

        <td>
            <a th:text="${post.category.nameCategory}"></a>
        </td>

        <td>
            <a th:text="${post.city.cityName}"></a>
        </td>

        <td>
            <a th:text="${#temporals.format(post.dateCreate, 'dd-MM-yyyy')}"></a>
        </td>


        <td>
            <a th:text="${#temporals.format(post.dateFrom, 'dd-MM-yyyy')}"></a>
        </td>

        <td>
            <a th:text="${#temporals.format(post.dateTo, 'dd-MM-yyyy')}"></a>
        </td>

        <td>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle"
                   role="button"
                   id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"
                   th:text="${post.status.statusName}">
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div th:each="status:${statuses}">
                        <a class="dropdown-item" th:href="@{'/admin/post?id=' + ${post.id} + '&status=' + ${status.id}}"
                           th:text="${status.statusName}"></a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

<a th:href="@{/admin}">Назад</a>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>