<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>Пользователи</title>
</head>
<body>
<header class="header">
    <div class="container d-flex align-items-center h-100">
        <a href="/" class="me-5">
            <img th:src="@{/images/logo.svg}" alt="logo">
        </a>
    </div>
</header>

<h1>Список пользователей</h1>

<table >
    <tr>
        <th>Имя</th>
        <th>Логин</th>
        <th>E-mail</th>
        <th>Роль</th>
    </tr>
    <tr th:each="user : ${users}">
        <td>
            <a th:text="${user.name}"></a>
        </td>


        <td>
            <a th:text="${user.login}"></a>
        </td>


        <td>
            <a th:text="${user.email}"></a>
        </td>

        <td>
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle"
                   href="#"
                   role="button"
                   id="dropdownMenuLink"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false"
                   th:text="${user.role.roleCode}">
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <div th:each="role:${roles}">
                        <a class="dropdown-item" th:href="@{'/admin/user?id=' + ${user.id} + '&role=' + ${role.id}}"
                           th:text="${role.roleCode}"
                           th:if="${user.login != currentUserLogin}"></a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

<a th:href="@{/admin}">Назад</a>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>