<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/create_post.css}">
    <title>Title</title>
</head>
<body>
<!--    <div th:insert="fragments/header.html :: header (cityDto = city)"></div>-->

<header class="header">
    <div class="container d-flex align-items-center h-100">
        <a href="/" class="me-5">
            <img th:src="@{/images/logo.svg}" alt="logo">
        </a>
        <div class="dropdown flex-grow-1">
            <button class="btn btn-secondary dropdown-toggle geo-dropdown" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <img th:src="@{/images/geo_icon.svg}" alt="geo dropdown icon">
                Выбрать город
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <th:block th:each="c : ${cityList}">
                    <a class="dropdown-item" href="#"><li th:text="${c.getCityName()}"></li></a>
                </th:block>
            </ul>
        </div>

            <a class="login-button" th:href="@{/account/{id}(id=${userId})}" th:text="${user.getUsername()}"></a>
            <a class="login-button" href="/logout">Выход</a>
    </div>
</header>

<main class="container d-flex flex-column justify-content-center align-items-center">

    <form method="post" action="/post/create" enctype="multipart/form-data" th:object="${postDto}">
        <h1>Создать событие</h1>
        <p><input th:type="file" th:name="img"></p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="header">Заголовок</span>
            </div>
            <input type="text" th:field="*{header}" class="form-control" aria-label="Username" aria-describedby="basic-addon1" >
        </div>
        <input type="text" hidden th:field="*{author.id}" th:value="*{author.id}">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Описание</span>
            </div>
            <textarea th:field="*{description}" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="address">Адрес</span>
            </div>
            <input type="text" th:field="*{address}" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="date-from">Дата начала</span>
            </div>
            <input type="datetime-local" th:field="*{dateFrom}" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="date-to">Дата завершения</span>
            </div>
            <input type="datetime-local" th:field="*{dateTo}" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <p>Категория<select th:field="*{category.id}">
            <option th:each="i : ${categoryList}" th:value="${i.id}" th:text="${i.categoryName}"></option>
        </select></p>
        <p>Город<select th:field="*{city.id}">
            <option th:each="i : ${cityList}" th:value="${i.id}" th:text="${i.cityName}"></option>
        </select></p>

        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</main>

<div th:replace="fragments/scripts.html :: scripts"></div>
</body>
</html>