* {
    box-sizing: border-box;
}

body {
    background-color: #FAF5F2;
    height: 100vh;
    padding-top: 10px;
}

ul {
    padding: 0;
    list-style: none;
}

main {
    height: calc(100% - 50px);
}

.header {
    background-color: rgba(201, 171, 204, .36);
    height: 50px;
}

.geo-dropdown,
.geo-dropdown:hover,
.geo-dropdown:focus,
.geo-dropdown:active,
.geo-dropdown:active:focus {
    background-color: transparent;
    border: none;
    color: black;
    box-shadow: none;
}

.login-button,
.login-button:active,
.login-button:visited {
    color: black;
    text-decoration: none;
}

.login-button:hover {
    color: #AC5F96;
}

.profile-container {
    padding: 30px;
}

.user-info {
    margin-right: 100px;
    flex: auto;
}

.user-name {
    font-size: 24px;
    padding: 10px 20px;
    background-color: #DDBCD4;
    margin-right: 85px;
}

.user-rating {
    font-size: 18px;
    background-color: #DDBCD4;
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.user-events {
    flex: auto;
}

.user-groups {
    flex: auto;
}

.events-header {
    margin-bottom: 15px;
}

.groups-header {
    margin-bottom: 15px;
}

.events-header h3 {
    font-size: 24px;
    background-color: #EDE5E5;
    margin: 0;
    padding: 0 10px;
    line-height: 35px;
}

.groups-header h3 {
    font-size: 24px;
    background-color: #EDE5E5;
    margin: 0;
    padding: 0 10px;
    line-height: 35px;
}

.events-header button {
    font-size: 19px;
    background-color: #E8DAE4;
    border-radius: 20px;
    padding: 15px 30px;
    border: none;
    outline: none;
    line-height: 100%;
}

.event {
    gap: 20px;
    margin-bottom: 20px;
}

.group {
    gap: 10px;
    margin-bottom: 20px;
}

.event-image {
    border-radius: 20px;

}

.event-info {
    background-color: #E8DAE4;
    border-radius: 20px;
    flex: auto;
    font-size: 18px;
    padding: 10px;
}

.groups-info {
    background-color: #E8DAE4;
    border-radius: 20px;
    flex: auto;
    font-size: 14px;
    padding: 10px;
}

.event-description {
    flex: 1 0 65%;
}

.groups-description {
    flex: 1 0 65%;
}

.accepted {
    color: #35b034;
}

.rejected {
    color: #FC0505;
}

.deleted {
    color: dimgrey;
}

.archived {
    color: dodgerblue;
}

.moderated {
    color: black;
}

.search-input {
    width: 830px;
    height: 64px;
    border: 1px solid #DCD2D2;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0 32px;
    outline: none;
}

.search-input:focus {
    border: 1px solid rgba(201, 171, 204, .75);
}

.search-button {
    border: solid 0px #000000;
    width: 38px;
    position: absolute;
    height: 38px;
    background-color: transparent;
    background-image: url(/images/search_icon.svg);
    margin: 10px;
}