body {
    background-color: #FAF5F2;
    height: 100vh;
    padding-top: 10px;
}

ul {
    padding: 0;
    list-style: none;
}

main {
    height: calc(100% - 50px);
}

.header {
    background-color: rgba(201, 171, 204, .36);
    height: 50px;
}

.geo-dropdown,
.geo-dropdown:hover,
.geo-dropdown:focus,
.geo-dropdown:active,
.geo-dropdown:active:focus {
    background-color: transparent;
    border: none;
    color: black;
    box-shadow: none;
}

.login-button,
.login-button:active,
.login-button:visited {
    color: black;
    text-decoration: none;
}

.login-button:hover {
    color: #AC5F96;
}

.main-heading {
    margin-top: 100px;
}

.search-input {
    width: 830px;
    height: 64px;
    border: 1px solid #DCD2D2;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 0 32px;
    outline: none;
}

.search-input:focus {
    border: 1px solid rgba(201, 171, 204, .75);
}

.search-button {
    border: solid 0px #000000;
    width: 38px;
    position: absolute;
    height: 38px;
    background-color: transparent;
    background-image: url(/images/search_icon.svg);
    margin: 10px;
}

.post-list {
    gap: 1rem;
}

.post-card {
    height: 335px;
    position: relative;
}

.post-image {
    object-fit: cover;
}

.post-info {
    position: absolute;
    bottom: 0;
    height: 142px;
    background-color: rgba(85, 77, 77, .7);
    color: white;
}

.category {
    font-size: 22px;
}

.category-active {
    background: rgba(196, 124, 231, 0.54);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.hidden {
    display: none !important;
}

.spinner {
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
}