h1 {
    color: #78ab46;
}

.header {
    background-color: rgba(201, 171, 204, .36);
    height: 50px;
}

body {
    background-color: #FAF5F2;
    height: 100vh;
    padding-top: 10px;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

footer p {
    padding: 15px;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.centerLayer {
    position: absolute; /* Абсолютное позиционирование */
    left: 30%; /* Положение слоя от левого края */
    top: 25%; /* Положение слоя от верхнего края */
}