<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
            href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900'
            rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link th:href="@{/css/account-style.css}" rel="stylesheet" type="text/css">

    <title>EventGo</title>
</head>
<body>
<header class="header">
    <div class="container d-flex align-items-center h-100">
        <a href="/" class="me-5">
            <img th:src="@{/images/logo.svg}" alt="logo">
        </a>
        <div class="dropdown flex-grow-1">

<!--            <button class="btn btn-secondary dropdown-toggle geo-dropdown" type="button" id="dropdownMenuButton"-->
<!--                    data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                <img th:src="@{/images/geo_icon.svg}" alt="geo dropdown icon">-->
<!--                Выбрать город-->
<!--            </button>-->
<!--            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                <li><a class="dropdown-item" href="#">Санкт-Петербург</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Москва</a></li>-->
<!--                <li><a class="dropdown-item" href="#">Казань</a></li>-->
<!--            </ul>-->
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{'/account/' + ${userId}}" class="login-button" th:text="${userName.getLogin()} + ' '"></a>
            <a th:href="@{/logout}" class="login-button">Выйти</a>
        </div>
<!--        <a class="login-button" th:text="${userName.getLogin()}" margin-right></a>-->
    </div>
</header>
<main class="container d-flex flex-column justify-content-center align-items-center">
    <div class="w-100 h-100 d-flex align-items-start profile-container">
        <section class="w-50 user-info ">
            <div class=" d-flex justify-content-start align-items-center">
                <div class="user-name d-flex justify-content-center align-items-center"
                     th:text="${userName.getName()}"></div>
                <div class="user-rating d-flex flex-column justify-content-center align-items-center">
                    Рейтинг
                    <span>
                        <div th:text="${rating}"></div>
                        <img th:src="@{/images/like_icon.svg}" alt="like icon">
                    </span>
                </div>
                <a th:href="@{'/admin'}">
                    <div th:if="${role.getRoleCode() == 'ADMIN' }">Админка</div>
                </a>

            </div>
            <div class="groups-header d-flex">
                <h3>Подписки</h3>
            </div>
            <div th:each="group : ${groups}" class="groups-list d-flex flex-column">
                <a th:href="@{'/post/' + ${group.getId()}}">
                    <li class="d-flex group p-2">
                        <img th:src="@{/photo/{id}(id=${group.getId()})}" class="event-image w-25" alt="event image">
                        <div class="groups-info d-flex justify-content-between">
                            <p class="groups-description" th:text="${group.getHeader()}"></p>
                            <div class="d-flex flex-column justify-content-between">
                                <div th:text="${#temporals.format(group.dateFrom, 'dd-MM-yyyy')}"></div>
                            </div>
                        </div>
                    </li>
                </a>
            </div>
        </section>
        <section class="user-events">
            <div class="events-header d-flex justify-content-between align-items-center">
                <h3>Созданные события</h3>

                <a th:href="@{/post/create}">
                    <button>+Создать событие</button>
                </a>


            </div>
            <div th:each="post : ${posts}" class="events-list d-flex flex-column">
                <a th:href="@{'/post/' + ${post.getId()}}">
                    <li class="d-flex event">
                        <img th:src="@{/photo/{id}(id=${post.getId()})}" class="event-image w-25" alt="event image">
                        <div class="event-info d-flex justify-content-between">
                            <p class="event-description" th:text="${post.getHeader()}"></p>
                            <div class="d-flex flex-column justify-content-between">
                                <div th:text="${#temporals.format(post.dateFrom, 'dd-MM-yyyy')}"></div>
                                <div class="align-self-end accepted" th:switch="${post.getStatus().getStatus()}">
                                    <div class="moderated" th:case="1">На модерации</div>
                                    <div class="rejected" th:case="2">Отменен</div>
                                    <div class="accepted" th:case="3">Принят</div>
                                    <div class="archived" th:case="4">В архиве</div>
                                    <div class="deleted" th:case="5">Удален</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </a>
            </div>
        </section>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>
