<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900'
          rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <title>EventGo</title>
</head>
<body>
<header class="header">
    <div class="container d-flex align-items-center h-100">
        <a href="/" class="me-5">
            <img th:src="@{/images/logo.svg}" alt="logo">
        </a>
        <div class="dropdown flex-grow-1">
            <img th:src="@{/images/geo_icon.svg}" alt="geo dropdown icon">
            <button
                    th:text="${currentCity.getCityName()}"
                    class="btn btn-secondary dropdown-toggle geo-dropdown"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div th:each="city : ${cities}">
                    <li><a class="dropdown-item" th:text="${city.getCityName()}" th:href="${city.getShortName()}"></a>
                    </li>
                </div>
            </ul>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{'/account/' + ${userId}}" class="login-button" th:text="${login}"></a>
            <a th:href="@{/logout}" class="login-button">Выйти</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}" class="login-button">Войти</a>
            <a>/</a>
            <a th:href="@{/registration}" class="login-button register-button">Зарегистрироваться</a>
        </div>
    </div>
</header>

<main class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="main-heading mb-4">Найди мероприятие в своем городе</h1>


    <form th:action="@{${currentCity.getShortName} + '/search'}" modelAttribute="searchInput" method="get">
        <input type="text" class="search-input mb-4" placeholder="Найти мероприятие..." name="text"/>
        <input type="submit" value="" alt="search" class="search-button"/>
    </form>

    <div class="owl-carousel owl-theme mb-4 js-category-carousel">
        <div th:each="category : ${categories}">
            <div class="item category text-center category-active"
                 th:text="${category.getCategoryName()}"
                 th:id="${category.getCategoryName()}"
                 th:attr="city-name=${currentCity.getShortName}"
                 th:if="${category.getCategoryName()} == Спорт">
            </div>

            <div class="item category text-center"
                 th:text="${category.getCategoryName()}"
                 th:id="${category.getCategoryName()}"
                 th:attr="city-name=${currentCity.getShortName}"
                 th:unless="${category.getCategoryName()} == Спорт">
            </div>
        </div>
    </div>

    <ul class="d-flex justify-content-between align-items-center post-list js-posts">
        <div class="text-center hidden spinner">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div th:each="post : ${posts}">
            <a th:href="@{'/post/' + ${post.getId()}}">
                <li class="post-card" style="width: 356px; height: 224px">
                    <img width="356" height="224" th:src="@{/photo/{id}(id=${post.getId()})}" class="post-image w-100" alt="post image">
                    <div class="post-info w-100 d-flex flex-column justify-content-between p-1">
                        <div class="d-flex justify-content-between align-items-start">
                            <span th:text="${post.getHeader()}"></span>
                            <span th:text="${#temporals.format(post.dateFrom, 'dd-MM-yyyy')}"></span>
                        </div>
                        <div class="text-center" style="white-space: nowrap; overflow: hidden; padding: 5px; text-overflow: ellipsis"
                             th:text="${post.getDescription()}">
                        </div>
                        <div class="align-self-end">
                            <div class="d-flex align-items-end">
                                <div th:text="${post.getLikes().getLikes()}"></div>
                                <img th:src="@{/images/like_icon.svg}" alt="like-icon" class="ms-1 mb-1">
                            </div>
                        </div>
                    </div>
                </li>
            </a>
        </div>
    </ul>

</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>