<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link th:href="@{/css/account-style.css}" rel="stylesheet"/>
    <title>EventGo</title>
</head>
<body>
<header class="header">
    <div class="container d-flex align-items-center h-100">
        <a href="/" class="me-5">
            <img th:src="@{/images/logo.svg}" alt="logo">
        </a>
        <div class="dropdown flex-grow-1">
            <img th:src="@{/images/geo_icon.svg}" alt="geo dropdown icon">
            <button
                    th:text="${currentCity.getCityName()}"
                    class=" geo-dropdown"
                    type="button"
                    aria-expanded="false">
            </button>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{'/account/' + ${userId}}" class="login-button" th:text="${login}"></a>
            <a th:href="@{/logout}" class="login-button">Выйти</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}" class="login-button">Войти</a>
            <a>/</a>
            <a th:href="@{/registration}" class="login-button register-button">Зарегистрироваться</a>
        </div>
    </div>
</header>

<main class="container d-flex flex-column align-items-center">

    <form th:action="@{search}"
          modelAttribute="searchInput"
          method="get"
          enctype="multipart/form-data">

        <input type="text" class="search-input mb-4" placeholder="Найти мероприятие..." name="text"/>
        <input type="submit" value="" alt="search" class="search-button"/>
        <p>Категория<select name="categ">
            <option th:each="category : ${categories}" th:value="${category.id}"
                    th:text="${category.categoryName}">
            </option>
        </select>
        </p>
    </form>
    <main class="container align-items-center">
        <div th:each="post : ${posts}" class="events-list d-flex flex-column">
            <a th:href="@{'/post/' + ${post.getId()}}">
                <li class="d-flex group p-2">
                    <img th:src="@{/photo/{id}(id=${post.getId()})}" class="event-image w-25" alt="event image">
                    <div class="groups-info d-flex justify-content-between">
                        <div class="d-flex flex-column justify-content-between">
                            <p class="groups-description" th:text="${post.getHeader()}"></p>
                            <div th:text="${#temporals.format(post.dateFrom, 'dd-MM-yyyy')}"></div>

                        </div>
                        <p class="event-description" th:text="${post.getDescription()}"></p>
                    </div>
                </li>
            </a>
        </div>
    </main>

</main>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>